head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')

	title #{siteName} | #{meta.pageTitle}
	meta(content=meta.pageTitle, property='og:title')
	meta(content=siteName, property='og:site_name')
	meta(content=meta.description, property='og:description')
	meta(content=meta.image, property='og:image')
	meta(content=canonicalUrl, property='og:url')
	link(rel='canonical', href=canonicalUrl)

	// Disable tap highlight on IE
	meta(name='msapplication-tap-highlight', content='no')

	// Web Application Manifest
	link(rel='manifest', href='/manifest.json')

	// Add to homescreen for Chrome on Android
	meta(name='mobile-web-app-capable', content='yes')
	meta(name='application-name', content=siteName)

	link(rel='icon', type='image/x-icon', href='/img/favicon.ico')
	link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon-32x32.png')
	link(rel='icon', type='image/png', sizes='96x96', href='/img/favicon-96x96.png')
	link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon-16x16.png')

	script(src='/js/scripts.js')
	link(href='/css/style.css', rel='stylesheet')

	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-68460458-1', 'auto');
		ga('send', 'pageview');
